@use"../function/_mixin.scss" as *;

.btn{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: px-to-rem(12px) 0;
  @include responsive("tablet"){
    width: px-to-rem(200px);
  }
}

.btn--submit{
  border: px-to-rem(1px) solid var(--base-color);
  font-size: px-to-rem(14.4px);
  line-height: 1.7;
  color: var(--base-color);
  transition: .3s;
}

.btn--submit:hover{
    background-color: var(--base-color);
    color: var(--main-color);
}