@use"../function/_mixin.scss" as *;

.swiper-container {
  margin-top: px-clamp(20, 30, 375, 2000);
}

.swiper {
  max-width: 100%; /* 最大幅を維持 */
  max-height: px-to-rem(271px); /* 高さは画像に合わせる */
}

.swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: contain; /* 画像を歪まず等倍表示 */
  display: block;
  margin: auto;
}
